<h2>Bookmarks</h2>
<% if @list.bookmarks.any? %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <strong><%= bookmark.movie.title %>:</strong>
        <%= bookmark.comment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No bookmarks yet.</p>
<% end %>